*{
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   color: white;
}
/* .container{
    position: relative;
} */
header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #37517e ;
    /* border-bottom: 1px solid white; */
    top:0;
    position:sticky;
    /* color: white; */
}
.icon{
    width:20%;
    padding-left: 50px;
    /* background-color: aqua; */

}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* background-color:rgb(2, 46, 46); */
}
.menu a{
  font-weight: 600;
  text-decoration: none;
  padding: 10px; 
  /* color:white;  */
}
.btn{
    width:20%;
    /* background-color: aqua; */
    padding-left: 20px;
}
.btn button{
    border: none ;
    border-radius:30px;
    padding:10px 30px;
    background-color: rgb(86, 189, 252);
    
}
.radio{
    color: white;
    background-color:#37517e ;
    border: none;  
}
.Dropdown{
    color: black;
    background-color: white;
    
}
.main{
    min-height: 100vh;
}
.sec1{
    display: flex;
    padding: 20px;
    min-height: 500px;
    background-color: #37517e;    
}
.left{
    width: 50%;
    height: 400px;
    padding-top: 100px;
    margin-left: 100px;
    /* background-color: rgb(133, 122, 122); */
}
.left_inner p{
    font-size: 22px;
}
.left .btns{
    display: flex;
    gap: 20px;
}
.btn1 button{
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    background-color: #44a3d5;
}
.right{
    height: 400px;
    padding: 50px 0 0 40px;
}
.right img{
    width: 75%;
}
.sec2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #F5F6F8;
}
.sec2 img{
    width: 100px;
}
.box{
    background-color:white ;
    height: 400px;
    width: auto;
}
.box h1{ 
    text-align: center;
    color: #37517e;
    padding: 30px;
}
/* .border{
    height: 50px;
} */
.header{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
hr {
width: 20%;
margin-right: 40%;
margin-left: 40%;
height: 3px;
background-color: gray;
}
p{
    color: black;
}
ul li{
    color: black; 
    list-style: circle;
}
.text{
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
.text2{
    color: black;
    text-align: left;
}
button{
    color:#37517e;
    border-radius: 20px;
    padding: 10px 30px;
    background: none;
    /* border-color:#37517e ;
    border-width: 1px;
    border-style: solid; */
    border: 1px solid #37517e ;
    outline: none;
}
.sec3{
    height: 400px;
    width: 100%;
    background-color: #F5F6F8;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;
    display: flex;
}
.sectext1 h3{
    color: #37517e;
    font-weight:bolder;
    font-size: x-large;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: #37517e;
    font-weight: lighter;
}
.sectext1 p{
    color: #444444;
    padding: 10px;
}
.numbers{
    color: #44a3d5;
}
.item{
  border: 1px solid white;  
}
.item h3{
    color: #37517e;
    padding: 10px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sectext2{
    background-color: #ffffff;
    padding: 20px;
    /* border:1px solid black ; */
    box-shadow:0px 5px 25px 0px rgba(0, 0, 0, 0.1);   
}
.boximg{
    height: 300px;
    width: 50%;
    padding: 10px  
}
.boximg img{
    width: 70%;
    object-fit: cover;
}
svg{
    width: 10px;
}




