* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

/* .container{
    position: relative;
} */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #37517e;
    /* border-bottom: 1px solid white; */
    top: 0;
    position: sticky;
    /* color: white; */
}

.icon {
    width: 20%;
    padding-left: 50px;
    /* background-color: aqua; */

}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* background-color:rgb(2, 46, 46); */
}

.menu a {
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    /* color:white;  */
}

.menu a:hover {
    background-color: #44a3d5;
    border: 2px none #44a3d5;
    border-radius: 20px;
    color: #ffffff;
}

.btn {
    width: 20%;
    /* background-color: aqua; */
    padding-left: 20px;
}

.btn button {
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(86, 189, 252);

}

.radio {
    color: white;
    background-color: #37517e;
    border: none;
}

.Dropdown {
    color: black;
    background-color: white;

}

.main {
    min-height: 100vh;
}

.sec1 {
    display: flex;
    padding: 20px;
    min-height: 500px;
    background-color: #37517e;
    justify-content:space-evenly;
}

.left {
    width: 50%;
    height: 400px;
    padding: 100px;
    /* margin-left: 100px; */
    /* background-color: rgb(133, 122, 122); */
}

.left_inner p {
    font-size: 22px;
}

.left .btns {
    display: flex;
    gap: 20px;
}

.btn1 button {
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    background-color: #44a3d5;
}

.right {
    height: 400px;
    padding: 50px 0 0 40px;
}

.right img {
    width: 75%;
    animation: bounce 3s ease-in-out infinite alternate-reverse both;
}

@keyframes bounce{
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.sec2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #F5F6F8;
}

.sec2 img {
    width: 100px;
}

.box {
    background-color: white;
    height: 400px;
    width: auto;
}

.box h1 {
    text-align: center;
    color: #37517e;
    padding: 30px;
}

/* .border{
    height: 50px;
} */
.header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    /* align-items: center; */
}

hr {
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    height: 3px;
    background-color: gray;
}

.box p {
    color: black;
}

ul li {
    color: black;
    list-style: circle;
}

.text {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.text2 {
    color: black;
    text-align: left;
}

button {
    color: #37517e;
    border-radius: 20px;
    padding: 10px 30px;
    background: none;
    /* border-color:#37517e ;
    border-width: 1px;
    border-style: solid; */
    border: 1px solid #37517e;
    outline: none;
}

.sec3 {
    height: 450px;
    width: 100%;
    background-color: #F5F6F8;
    text-align: center;
    justify-content: center;
    padding: 5px;
    display: flex;
}

.sectext1 h1 {
    color: #37517e;
    font: 34px Jost, sans-serif;
    padding: 10px;
    text-align: left;
}

span {
    color: #37517e;
    font-weight: lighter;
}

strong {
    color: #37517e;
    ;
}

.sectext1 p {
    color: #444444;
    padding: 10px;
    text-align: left;
}

.numbers {
    color: #44a3d5;
}

.item {
    border: 1px solid white;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}

.item h3 {
    color: #37517e;
    padding: 10px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .sectext2{
    background-color: #ffffff;
    padding: 20px;
    border:1px solid black ;
    box-shadow:0px 5px 25px 0px rgba(0, 0, 0, 0.1);   
} */
.boximg {
    height: 300px;
    width: 50%;
    padding: 10px;

}

.boximg img {
    width: 75%;
    object-fit: cover;
}

svg {
    width: 10px;
}

.sec4 {
    min-height: 350px;
    width: 100%;
    background-color: #F5F6F8;
    text-align: center;
    justify-content: center;
}

.sec4 h1 {
    text-align: center;
    justify-content: center;
    color: #37517e;
    padding: 30px;
}

.sec4 p {
    color: #444444;
}

.sec4_box {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
    padding: 20px;
}

.box1 {
    border: 1px solid white;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}

.box1 h4 {
    color: #37517e;
    padding: 10px;
}

.box1 svg {
    width: 30%;
}

.box1 p {
    padding: 10px;
}

.sec5 {
    min-height: 600px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
}

.sec5 h1 {
    text-align: center;
    justify-content: center;
    color: #37517e;
    padding: 30px;
}

.sec5 p {
    color: #444444;
}

.sec5_box {

    text-align: left;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
}

.box2 {
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}

.box2 h2 {
    color: #37517e;
    padding: 10px;
}

.box2 span {
    background-color: #44a3d5;
    color: #ffffff;
    font-weight: bold;
    font-size: x-large;
    border-radius: 30px;
    padding: 10px;

}

/* .one{
    background-image: url(https://bootstrapmade.com/content/demo/Arsha/assets/img/steps/steps-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;  
} */
.box2 img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    overflow-clip-margin: content box;
    overflow: clip;
}

.box2 li {
    color: #444444;
    padding: 5px;
}

.box2 p {
    padding: 5px;
}

.sec6 {
    min-height: 250px;
    width: 100%;
    background-color: plum;
    text-align: left;
    justify-content: space-evenly;
    display: flex;
    padding: 50px;
    background-image: url(https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}

.sec6_text {
    padding: 45px;
}

.sec6_btn {
    padding: 50px;
}

.sec6_btn button {
    height: 50%;
    color: #ffffff;
    border-radius: 20px;
    /* padding: 10px 30px; */
    background: none;
    border: 2px solid #ffffff;
    outline: none;
}

.sec7 {
    min-height: auto;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
}

.sec7 h1 {
    text-align: center;
    justify-content: center;
    color: #37517e;
    padding: 20px;
}

.sec7 p {
    color: #444444;
}

.menu_b {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_b a {
    text-decoration: none;
    padding: 10px;
    color: black;
    text-align: center;
    justify-content: center;
}

.menu_b a:hover {
    background-color: #44a3d5;
    border: 2px none #44a3d5;
    border-radius: 20px;
    color: #ffffff;
}

.sec7_img {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.pic1 {
    width: 100%;
    height: auto;
    /* align-items:flex-end;
    justify-content: left; */
}

.pic1 img {
    width: 100%;
    object-fit: cover;
    /* flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 10px; */
}

.pic2 {
    width: 100%;
    height: auto;
    padding: 10px;
}

.pic2 img {
    width: 100%;
    object-fit: cover;
}

.pic3 {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
    /* justify-content: right;
    align-items: end; */
}

.pic3 img {
    width: 100%;
    object-fit: cover;
}

@media (min-width:1000px) and (max-width:1128px) {
    .sec1 {
        background-color: aqua;
    }

    .left h1 {
        color: black;
    }

    .sec2 {
        background-color: lightcoral;
    }
}

@media (min-width:700px) and (max-width:999px) {
    .sec1{
        background-color: gray;
        display: flex;
    }
    .left h1{
      color: #ffffff;  
    }
    .sec2{
        background-color: teal;
    }
}

@media (max-width:1034px) {
    .sec1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
    }
    .right img{
        width:65%;
    }
}